@import url('https://fonts.googleapis.com/css2?family=Lexend+Deca&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Big+Shoulders+Display:wght@700&family=Lexend+Deca&display=swap');

*,*::before,*::after{
    margin : 0;
    padding : 0;
    box-sizing : border-box;
}

body {
    display: flex;
    align-items: center;
}

.box-1{
    background-color: hsl(31, 77%, 52%);
}

.box-2{
    background-color: hsl(184, 100%, 22%);
}

.box-3{
    background-color: hsl(179, 100%, 13%);
}

.main-box{
    max-width : 780px;
    margin : auto;
    background-color: orange;
    position: relative;
    display: flex;
    color : white;
}

@media (max-width : 767px){
    .main-box {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
}

.main-box a{
    position: relative;
    display: inline-block;
    text-decoration: none;
    background-color: white;
    padding : .65rem 1.75rem;
    border-radius: 50px;
    margin-bottom: 2.75rem;
    font-family: 'Lexend Deca', sans-serif;
    transition-property: color;
    overflow-x: hidden;
    transition-duration: 200ms;
    z-index : 1;
}

.main-box a:hover{
    color : white;
    border : .35px solid white;
}

.box-1 a{
    color: hsl(31, 77%, 52%); 
}

.box-2 a{
    color: hsl(184, 100%, 22%);
}

.box-3 a{
    color: hsl(179, 100%, 13%);
}

.box-1 a::before{
    transform-origin: left;
    background-color: hsl(31, 77%, 52%);
}

.box-2 a::before{
    transform-origin: right;
    background-color: hsl(184, 100%, 22%);;
}

.box-3 a::before{
    transform-origin: center;
    background-color: hsl(179, 100%, 13%);
}

.main-box a::before{
    position: absolute;
    content: '';
    left : 0;
    right : 0;
    top : 0;
    bottom : 0;
    transform : scaleX(0);
    border-radius: 50px;
    transition-property: transform;
    transition-duration: 300ms;
    z-index : -1;
}

.main-box a:hover::before{
    transform : scaleX(1);
}

.main-box h1{
    font-family: 'Big Shoulders Display', cursive;
}

.main-box h1,a{
    margin : 1.5rem;
}

.main-box p{
    margin-left: 1.5rem;
    margin-right : 2.5rem;
    margin-bottom : 3rem;
    font-family: 'Lexend Deca', sans-serif;
    line-height: 1.75em;
}

.main-box img{
    margin-left: 1.5rem;
    margin-top : 2rem;
}